@page
@model StarWarsApp.Pages.FilmsModel
@{
    ViewData["Title"] = "Films";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Episode Number</th>
            <th scope="col">Opening Crawel</th>
            <th scope="col">Director</th>
            <th scope="col">Producer</th>
            <th scope="col">Release Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FilmsPage filmsPage in @Model.Films)
        {
            foreach (Film film in filmsPage.results)
            {
                <tr>
                    <td>@film.title</td>
                    <td>@film.episode_id</td>
                    <td>@film.opening_crawel</td>
                    <td>@film.director</td>
                    <td>@film.producer</td>
                    <td>@film.release_date</td>
                </tr>           
            }            
        }
    </tbody>
</table>
