@page
@model StarWarsApp.Pages.SpeciesModel
@{
    ViewData["Title"] = "Species";

}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Classification</th>
            <th scope="col">Designation</th>
            <th scope="col">Average Height</th>
            <th scope="col">Skin Colors</th>
            <th scope="col">Hair Colors</th>
            <th scope="col">Eye Colors</th>
            <th scope="col">Average Lifespan</th>
            <th scope="col">Language</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SpeciesPage planetPage in @Model.Species)
        {
            foreach (Species species in planetPage.results)
        {
                <tr>
                    <td>@species.name</td>
                    <td>@species.classification</td>
                    <td>@species.designation</td>
                    <td>@species.average_height</td>
                    <td>@species.skin_colors</td>
                    <td>@species.hair_colors</td>
                    <td>@species.eye_colors</td>
                    <td>@species.average_lifespan</td>
                    <td>@species.language</td>
                </tr>           
            }            
        }
    </tbody>
</table>
